.nav {
 background-color: black;
 border-bottom: 2px solid white;
 position: -webkit-sticky;
 position: sticky;
 top: 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  margin-left: 10%;
  margin-right: 10%;
}

.individual_links {
  color: white;
  text-decoration: none;
  font-size: 4vw;
  font-family: "Fredericka the Great";
  font-weight: bold;
  transition: 0.3s;
}
.individual_links:hover {
  color: rgb(255, 0, 128);

}

@media only screen and (min-width:760px) {
  .individual_links {
    font-size: 3vw;
  }
}

@media only screen and (min-width:1200px) {
  .individual_links {
    font-size: 2vw;
    margin: 0px 0px;
  }
}


@media only screen and (min-width:1500px) {
  .individual_links {
    font-size: 2vw;
    margin: 0px 0px;
  }
}