.nav {
  border: 2px solid blue;
  background-color: olive;
}

.links {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  margin: 0px 30px;
  padding: 0px 30px;
  text-decoration: none;
  color: black;
}