.nav {
 background-color: transparent;
 border-bottom: 2px solid black;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  margin: 0px 30px;
}

.individual_links {
  color: white;
  text-decoration: none;
  font-size: 5vw;
  font-family: "Fredericka the Great";
  font-weight: bold;

}

@media only screen and (min-width:760px) {
  .individual_links {
    font-size: 4vw;
  }
}

@media only screen and (min-width:1500px) {
  .individual_links {
    font-size: 2vw;
    margin: 0px 0px;
  }
}