.whole {
  border: 2px solid seagreen;
  height: 100vh;
}

.header {
  font-size: 7vw;
  text-align: center;
  border: 2px solid red;
}

.image {
  border: 8px solid yellow;
  padding: 100px
}

.me {
  width: 300px;
}

.branding {
  border: 2px solid cyan
}

.skills {
  font-size: 6vw;
  border: 2px solid orange;
}