.whole {
  border: 2px solid seagreen;
  height: 94vh;
}

.header {
  font-size: 7vw;
  text-align: center;
  border: 2px solid red;
  margin: 10px 0px;
}

.me {
  border: 2px solid yellow;
  width: 300px;
  height: 300px;
  display: block;
  margin: 10px 0px;
  margin-left: auto;
  margin-right: auto;
}

.me {
  width: 300px;
}

.intro_skills {
  font-size: 4.5vw;
  margin: 10px 0px;
  font-family: "Cormorant Garamond";
  font-weight: bold;
}

.branding {
  border: 2px solid cyan;
  margin: 10px 10px;
  font-size: 4.5vw;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-weight: bold;
}

.skills {
  margin: 10px 5px;
  font-size: 5vw;
  text-align: center;
  border: 2px solid orange;
  font-family: "Cormorant Garamond";
  font-weight: bold;
}