.whole {
  border: 2px solid seagreen;
}

.header {
  font-size: 5vw;
  text-align: center;
  border: 2px solid red;
}

.branding {
  border: 2px solid cyan
}

.skills {
  font-size: 6vw;
  border: 2px solid orange;
}