.footer {
  display: flex;
  justify-content: flex-end;
  border-top: 2px solid white;
}

.footer a {
  margin-right: 3%;
  margin-left: 3%;  
  border: 2px solid hotpink;
} 

.link {
  color: rgb(16, 219, 233);
}

.git {
  color: yellow
}