.footer {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  border-top: 2px solid white;
  background: transparent;
}

.footer a {
  display: flex;
  justify-content: flex-end;
  width: 10%;
  height: 10%;
}

.link {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
  width: 60%;
  height: 50%;
  color: rgb(16, 219, 233);
  border: 2px solid transparent;
}

.git {
  padding: 10px 30px;
  width: 50%;
  height: 50%;
  color: yellow
}
