.home_body {
  width: auto;
  height: 200vh;
  
}

.welcome {
  font-size: 7vw;
  margin: 20px 0px 10px 0px;
  /* border: 2px solid white; */
  text-align: center;
  font-family: "Fredericka the Great";
  font-weight: bold;
  color: white;
 }

 .traits {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   text-align: center;
   margin: 2px 15px;
   font-size: 3vw;
   font-family: "goblin one";
   font-weight: bold;
   color: white;
 }

 .driven {
   color: yellow;
 }

 .creative {
   color: rgb(255, 0, 128);
 }

 .software {
   color: rgb(29, 198, 210);
 }

.work {
  text-align: center;
  margin: 40px 0px;
  padding: 30px 0px; 
  /* border: 2px solid green; */
}

.work>button {
  font-size: 5vw;
  border-radius: 4px;

}

.me {
  text-align: center;
  margin: 40px 0px;
  padding: 30px 0px; 
  border: 2px solid red;
}


.me>button {
  font-size: 5vw;
  border-radius: 4px;
}

@media only screen and (min-width:760px) {
  .welcome {
    font-size: 6vw;
   }
}

@media only screen and (min-width:1500px) {
  .home_body {
    width: auto;
    height: 400vh;
  }
  
  .welcome {
    font-size: 4.5vw;
   }
}
