.home_body {
  width: auto;
  height: auto;
  
}

.welcome {
  font-size: 7vw;
  margin: 20px 0px 10px 0px;
  text-align: center;
  font-family: "Fredericka the Great";
  font-weight: bold;
  color: white;
}

 .traits {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   text-align: center;
   margin: 2px 15px;
   font-size: 3vw;
   font-family: "goblin one";
   font-weight: bold;
   color: white;
 }

 .driven {
   color: yellow;
 }

 .creative {
   color: rgb(255, 0, 128);
 }

 .software {
   color: rgb(29, 198, 210);
 }


@media only screen and (min-width:760px) {
  .welcome {
    font-size: 4vw;
   }

   .traits {
    font-size: 2vw;
    justify-content: center;
    margin: 0px 20px;     
  }

  .bullet {

    display: flex;
    align-items: center;
    margin: 0px 20px;

  }
}

@media only screen and (min-width:1200px) {
  .home_body {
    width: auto;
    height: auto;
  }
  
  .welcome {
    font-size: 3.25vw;
   }

   .traits {
    font-size: 1.75vw;
  }
}