.whole {
  height: auto;
  color: white;
}

.header {
  text-align: center;
  font-family: "Limelight";
  font-weight: bold;
  font-size: 5vw;
  margin: 10px 0px 5px 0px;
}

.title_dynamic {
  text-align: center;
  font-size: 5.25vw;
  margin: 0px;
  font-family: "Bungee Shade";
  font-weight: bold;
  color: rgb(206, 24, 206);
}

.title_gameterest {
  text-align: center;
  font-size: 5.25vw;
  margin: 0px;
  font-family: "Bungee Shade";
  font-weight: bold;
  color: rgb(255, 0, 128)
}

.title_selfcheck {
  text-align: center;
  font-size: 5.25vw;
  margin: 0px;
  font-family: "Bungee Shade";
  font-weight: bold;
  color: yellow;
}

.title_oracle {
  text-align: center;
  font-size: 5.25vw;
  margin: 0px;
  font-family: "Bungee Shade";
  font-weight: bold;
  color: rgb(29, 198, 210);

}
  /* Below is for the images of screenshots of apps */
/* .image {
  width: 75vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  filter: grayscale(50%);
  border: 2px white solid;
} */

.link_space {
  border: 2px solid white;
  text-align: center;
  margin-left: 24%;
  margin-right: 24%;
}

.icon_dynamic {
  color: rgb(206, 24, 206);
}

.icon_gameterest {
  color: rgb(255, 0, 128);

}

.icon_selfcheck {
  color: rgb(255, 255, 0);
  border: 2px solid pink;

}

.icon_oracle {
  color: rgb(29, 198, 210);
}



.description {
  text-align: center;
  font-family: "BhuTuka Expanded One";
  font-weight: bold;
  /* font-family: "Cormorant Garamond"; */
  /* font-weight: bold; */
  margin: 10px 10px;
  font-size: 3vw;

}


.skills {
  text-align: center;
  /* font-family: "goblin one"; */
  font-family: "BhuTuka Expanded One";
  /* font-family: "Cormorant Garamond"; */
  font-weight: 900;
  margin: 10px 10px;
  font-size: 3vw;

}


.divider {
  border: 2px dotted white;
  margin: 0px 40px 10px 40px;
}

/* Media query for ipad */

@media only screen and (min-width:760px) {
  .header {
    font-size: 5vw;
  }
  
  .title_dynamic {
    font-size: 4vw;
  }

  .title_gameterest {
    font-size: 4vw;
  }

  .title_selfcheck {
    font-size: 4vw;
  }

  .title_oracle {
    font-size: 4vw;
  }

  .link_space {
    margin-left: 35%;
    margin-right: 35%;
  }

  .image {
    width: 80vw;
    height: 40vh;
  }
  
  .description {
    font-size: 2.5vw;

  }
  
  .skills {
    font-size: 2.5vw;

  }
  
}

@media only screen and (min-width:1200px) {
  .header {
    font-size: 3vw;
  }
  
  .title_dynamic {
    font-size: 2.5vw;
  }

  .title_gameterest {
    font-size: 2.5vw;
  }

  .title_selfcheck {
    font-size: 2.5vw;
  }

  .title_oracle {
    font-size: 2.5vw;
  }

  .link_space {
    margin-left: 40%;
    margin-right: 40%;
  }
  
  .image {
    width: 50vw;
    height: 40vh;
  }

  
  .description {
    font-size: 1.5vw;

  }
  

  .skills {
    font-size: 1.5vw;
  }

}

@media only screen and (min-width:1600px) {
  .link_space {
    margin-left: 42%;
    margin-right: 42%;
  }
}