.whole {
  height: 158vh;
  border: 2px solid yellow
}

.header {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 4vw;
  margin: 0px;
}

.image {
  width: 300px;
  border: 2px solid pink;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

.description {
  text-align: center;
  font-family: "Cormorant Garamond";
  font-weight: bold;
}


.skills {
  text-align: center;
  font-family: "Cormorant Garamond";
  font-weight: bold;
}


.divider {
  border: 2px dotted black;
  margin: 0px 0px 10px 0px;
}