.whole {
  height: 150vh;
  border: 2px solid yellow
}

.header {
  text-align: center;
}

.title {
  text-align: center;
  font-size: 4vw;
  margin: 0px;
}

.image {
  width: 300px;
  border: 2px solid pink;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
}

.skills {
  text-align: center;
}

.description {
  text-align: center;
}